In [1]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split 
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
Mail = pd.read_csv("spam_ham_dataset.csv")
Mail.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [3]:
Mail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 121.3+ KB

In [4]:
Mail.dtypes

Unnamed: 0     int64
label         object
text          object
label_num      int64
dtype: object

In [5]:
Mail_1 = Mail.drop(["Unnamed: 0", "label_num"], axis = 1)
Mail_1.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [6]:
Mail_1.dtypes

label    object
text     object
dtype: object

In [7]:
Mail.groupby("label").describe()

      Unnamed: 0                                                         \
           count    mean          std     min      25%     50%      75%
label
ham       3672.0  1835.5  1060.159422     0.0   917.75  1835.5  2753.25
spam      1499.0  4421.0   432.868340  3672.0  4046.50  4421.0  4795.50

              label_num
          max     count mean  std  min  25%  50%  75%  max
label
ham    3671.0    3672.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
spam   5170.0    1499.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [126]:
Mail_1["spam"] = Mail["label"].apply(lambda x : 1 if x == "spam" else 0 )
Mail_1.head()

  label                                               text  spam
0   ham  Subject: enron methanol ; meter # : 988291\r\n...     0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3  spam  Subject: photoshop , windows , office . cheap ...     1
4   ham  Subject: re : indian springs\r\nthis deal is t...     0

In [127]:
X_train, X_test, Y_train, Y_test = train_test_split(Mail_1.text, Mail_1.spam, test_size = 0.25 )

In [128]:
CNT = CountVectorizer()
X_train_count = CNT.fit_transform(X_train.values)
X_train_count[:3]

<3x43438 sparse matrix of type '<class 'numpy.int64'>'
	with 275 stored elements in Compressed Sparse Row format>

In [129]:
Result = MultinomialNB()
Result.fit(X_train_count, Y_train)

MultinomialNB()

In [130]:
X_test_count = CNT.transform(X_test)
Result.score(X_test_count, Y_test)

0.9698375870069605

In [144]:

Mail = [
    
            
        "Subject: enron methanol ; meter # : 988291 \
         this is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary \
         flow data provided by daren } . \
         please override pop ' s daily volume { presently zero } to reflect daily \
         activity you can obtain from gas control . \
         this change is needed asap for economics purposes .",
    
         "Subject: cialis , viagra , xanax , valium at low price ! no prescription needed ! \
          discount rx is simple , quick , and affordable ! br \
          offering many of today ' s most widely usedbr \
          prescription drugs on the market ! brbr \
          ambien , viagra , xenical , valium , prozac , xanax and many more ! \
          br \
          just click below for these special savings !", 
    

         "Subject: vic . odin n ^ ow \
          berne hotbox carnal bride cutworm dyadic \
          guardia continuous born gremlin akin counterflow hereafter vocabularian pessimum yaounde cannel bitch penetrate demagogue arbitrary egregious adenosine rubin gil luminosity delicti yarmulke sauterne \
          selfadjoint agleam exeter picofarad consulate dichotomous boyhood balfour spheric frey pillory hoosier fibonacci cat handfu",

          "Subject: meter 5593 \
            daren - canyou get a deal set up for meter 5593 for aug 00 ? there has been a \
            small amount of flow everyday . total flow for aug . 00 is 1 . 054 . last deal \
            ticket associated was 133169 for jul . 00 . let me know if you have any \
            questions . \
            al"


    
]
        
Mail_Check = CNT.transform(Mail)
Result.predict(Mail_Check)

array([0, 1, 1, 0], dtype=int64)